<p>
  The development academic software is a complex process, this is compounded when working on multiple projects or with
  multiple people working on one project.
  This workshop goes beyond the basics to empower you and your team to work efficiently and collaboratively to produce
  better more sustainable software.
  Firstly, we cover how to structure your code, using IDEs & virtual environments to 'level up' your workflow and
  linting to preserve consistent practice in your project, then we look at how Git can be used to improve collaborative
  code writing through constructive review as well as how to devlop in parallel using branches.
</p>
